@use 'base/variables' as v;
@use 'base/mixins' as m;

.complementarias{



    &__grid{
        @include m.contenedor;
        @include m.grid(1, 3rem);

        @include m.desktop{
            @include m.grid(2, 5rem);
            align-items: center;
        }

        

        
    }



   
    &__texto{
        line-height: 2;
    }
}

.objetivo{
    margin-top: 5rem;
    &__grid{
        @include m.contenedor;
        @include m.grid(1, 3rem);

        @include m.desktop{
            @include m.grid(2, 5rem);
            align-items: center;
        }

       
        
        
    }

    &__imagen{
        border-radius: 2px;

        &--creditos{
            font-size: 1.8rem;
            line-height: 1.5;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include m.desktop{
                justify-content: flex-end;
                align-items: center;
            }
           
        }
    }

    &__listado{
            font-size: 2rem;
            line-height: 1.5;

            &--lista{
                @include m.reset-lista;
                list-style: number;
                padding: 0;
                margin-bottom: 3rem;
            }
         }

}