@use 'base/variables' as v;
@use 'base/mixins' as m;


.agenda{
    padding: 5rem 0;
    @include m.contenedor;
}

.categorias{

$modificador: &;


    &__heading{
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, -0.8rem + 8vw, 6rem);

    }

    &__fecha{
        color: v.$gris;
        margin: 3rem 0 1rem 0;

    }

    &--compromiso{
        #{$modificador}__heading{
            color: v.$secundario;
            margin: 5rem 0;
            text-align: left;
            font-size: clamp(2rem, -0.8rem + 8vw, 6rem);
        }

        .evento__informacion{
            background-color: v.$secundario;
           
            &:hover{
                background-color: darken(v.$secundario, 10%);
            }

    
        }
    }

    &--cursos{
        #{$modificador}__heading{
            color: v.$azul;
            margin: 5rem 0;
            text-align: left;
            font-size: clamp(2rem, -0.8rem + 8vw, 6rem);
        }

        .evento__informacion{
           
            background-color: v.$azul;
           
            &:hover{
                background-color: darken(v.$azul, 10%);
            }
    
        }


    }

    .swiper-button-next, .swiper-button-prev{
        color: rgba(v.$blanco, .8);
    }
    .swiper-pagination{
        position: relative;
        margin-top: 5rem;
        color: v.$azul;
    }
 
}

.evento{
    position: relative;


    &__hora{
        font-weight: v.$bold;
    }

    
    &__unidad{
        width: 18rem;
        height: 3rem;      
        background-color: #eeeeee;
        display: flex;
        align-items: center;
        padding-inline: 1rem;   
        font-size: 1.6rem;
        font-weight: v.$bold;
        color: v.$negro;
        border-radius: 10rem;
        margin: 1rem 0;
    }

    &__informacion{
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        transition: 300ms background-color ease-in-out;
        &:hover{
            background-color: darken(v.$azul, 10);
            cursor: pointer;
        }


    }

    &__grupo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nombre{
        font-size: 2rem;
        margin: 0;
        font-weight: v.$bold;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__introduccion{
        //para cortar la descripcion/
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include m.tablet{
            -webkit-line-clamp: 2;
        }

        &--activo{
            font-size: 1.6rem;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }


 &__autor-info{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
 } 

 &__imagen-autor{
    width: 5rem;
    background-color: v.$blanco;
    border-radius: 50%;
 }  

 &__autor-nombre{
    font-weight: v.$bold;
    font-size: 1.5rem;
 }

 &__agregar{
    @include m.boton(v.$blanco, v.$negro);
    margin-top: 1rem;

    &:disabled{
        opacity: .5;
        cursor: not-allowed;
    }
 }

 &__modalidad.presencial{
    width: 8rem;
    height: 3rem;      
    background-color: #eafef3;
    display: flex;
    align-items: center; // Cambiado de center a flex-end
    justify-content: center;
    padding-inline: 1rem;   
    font-size: 1.4rem;
    font-weight: v.$black;
    color: #2ecc71;
    border-radius: 10rem;
    margin: 1rem 0;
    border: 1px solid #2ecc71;
}

&__modalidad.virtual{
    width: 5rem;
    height: 3rem;      
    background-color: #fff6e5;
    display: flex;
    align-items: center; // Cambiado de center a flex-end
    justify-content: flex-end;
    padding-inline: 1rem;   
    font-size: 1.4rem;
    font-weight: v.$black;
    color: #f4bd50;
    border-radius: 10rem;
    margin: 1rem 0;
    border: 1px solid #f4bd50;
}

&__modalidad-registro.presencial{
    width: 10rem;
    height: 3rem;      
    background-color: #eafef3;
    display: flex;
    align-items: center; // Cambiado de center a flex-end
    justify-content: flex-end;
    padding-inline: 1rem;   
    font-size: 1.4rem;
    font-weight: v.$black;
    color: #2ecc71;
    border-radius: 10rem;
    margin: 1rem 0;
    border: 1px solid #2ecc71;
}

&__modalidad-registro.virtual{
    width: 7rem;
    height: 3rem;      
    background-color: #fff6e5;
    display: flex;
    align-items: center; // Cambiado de center a flex-end
    justify-content: flex-end;
    padding-inline: 1rem;   
    font-size: 1.4rem;
    font-weight: v.$black;
    color: #f4bd50;
    border-radius: 10rem;
    margin: 1rem 0;
    border: 1px solid #f4bd50;}
}