@use 'base/_variables' as v;
@use 'base/_mixins' as m;


.perfil{

    @include m.contenedor;


    &__header{
        min-height: 30rem;
        margin-top: 2rem;
        border-radius: 1.6rem;
        background-image: url('../img/perfil-header.webp');
        background-size: cover;
        background-position:  center;
        background-repeat: no-repeat;
        
        
    }

    &__navegacion{
        padding: 5rem 0;
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        position: relative;
        top: 18rem;
       
    }

    &__form{
        display: flex;
    }


    &__submit{
        @include m.boton(v.$azul, v.$blanco);
       
    }

    &__info{
        display: flex;
        flex-direction: column;       
        margin-top: 5rem;
        border-radius: 1.6rem;
        background-color: v.$blanco;
        box-shadow: 0 0 1rem rgba(0,0,0,.2);
    }

    &__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include m.tablet{
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
        
    }

    &__datos{
        width: auto;
        width: min(100%, 60rem);
        display: flex;
       justify-content: center;  
       flex-direction: column;  
       @include m.tablet{
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-evenly;
       }
       column-gap: 2rem;
    }

    &__dato{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding: 1rem 2rem;
        border-bottom: 1px solid v.$gris;
        &:last-child{
            border-bottom: none;
        }
        &--titulo{
            font-size: 1.8rem;
            font-weight: 700;
            color: v.$gris;
            margin: 2rem 0;
        }
    }





}